@use "./custom" as *;

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: $white;
  color: $dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  a {
    font-weight: 500;
    color: $primary;
    text-decoration: inherit;

    &:hover {
        color: $primary;
        transition: all 500ms ease;
    }
}

}

//  Temporary


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


// @media (prefers-color-scheme: dark) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
